/.cache
/.ccls-cache
/.vscode
/build
/compile_commands.json

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.log
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sage.py
.ipynb_checkpoints/